{% extends 'base.html' %}
{% load static %}

  {% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url()">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>This is Ahmed Mohammeed Abo 6 Website!</p>
        <p>Owner of AM6 Software Company + Al3wn Educational Platform</p>
        <p>Junior web dev</p>
      </div>
    </div>
  </div>

  <hr>
  {% endblock content %}